img {
    max-width: 100%;
    height: auto;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(51, 51, 51, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(214, 206, 0, 1);
    background-color: rgba(86, 86, 86, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(214, 206, 0, 1);
    background-color: rgba(224, 224, 224, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(67, 172, 232, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #43ace8;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #43ace8;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #43ace8;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}


/*centers the logo and title inside the BANNER ROW*/
.centerbanner {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


  



h1, h2, h3, h4, h5, h6 {
    font-family: "cronos-pro-display",sans-serif;
    font: normal 38pt/1.5em, cronos-pro-display,sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333333;
}

h1 {
    font-size: 2em;
    line-height: 0.75em;
}

h2 {
    font-size: 0.7em;
    line-height: 2.14em;
}

p { 
    font-family: "merriweather",serif;
    font: normal 16pt/1.5em, merriweather, serif;
    letter-spacing: 2px;
    color: #333333;
    text-indent: 3em;
    font-weight: 500;
}

p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

p:nth-child(3) {
    background: #e7f0ce;
    padding: 10px;
}

ol, ul, li, li a { 
    font-family: "source-code-pro",sans-serif;
    font: normal 14pt/1.5em, source-code-pro, sans-serif;
    letter-spacing: 2px;
    color: #333333;
}

a {
    font-family: "merriweather",serif;
    font: normal 16pt/1.5em, merriweather, serif;
    letter-spacing: 2px;
    color: #333333;
}

a:link { color: #666666; text-decoration: none; }
a:visited { color: #333333; }
a:hover { text-decoration: underline; }
a:active { color: #000000; }

blockquote {
    font-family: "alize",serif;
    font: normal 38pt/1.5em, alize, serif;
    letter-spacing: 2px;
    color: #333333;
    text-indent: 3em;
}

special {
    font-family: "alize",serif;
    font: normal 4em/1.5em, alize, serif;
    letter-spacing: 2px;
    color: #333333;
    text-indent: 3em;
}

strong {
    font-family: "alize",serif;
    font: normal 38pt/1.5em, alize, serif;
    letter-spacing: 2px;
    color: #333333;
    text-indent: 3em;
}